@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title</h2>


<p><span>Bukubaki Eco Surf Resort complementa o melhor da experiência de surf num ambiente familiar com uma oferta de alojamento <span style="font-style:italic;">glamping</span> ecológico, baseada nos princípios da sustentabilidade sem com isso comprometer o conforto apreciado pelos nossos hóspedes. O Bukubaki é o local perfeito para as férias de famílias activas (com crianças), para pessoas aventureiras que procuram experiências emocionantes, mindfulness e tranquilidade, bem como para quem quer encarar uma experiência como uma jornada de auto-conhecimento e conexão consigo mesmos, com a natureza, o oceano e a vida.</span></p>
